include ../includes/icon.jade
include ../includes/centered.jade
include ../includes/socialLink.jade
+centered()
  a.unihack-tm(href="http://uniHack.ge")
    span.text .uniHack
    span.extra
      span.normal tm
      span.hover team
  a.free-uni(href="http://freeuni.edu.ge")
    img.image(alt=t('Free university of Tbilisi') src="/images/free.png")
    span.text=t('Free university of Tbilisi')

  nav#social
    +socialLink(
      'facebook',
      t('%s on %s',['hackTbilisi', 'facebook']),
      'https://www.facebook.com/hacktbilisi')
    +socialLink(
      'twitter',
      t('%s on %s',['hackTbilisi', 'twitter']),
      'https://twitter.com/hacktbilisi')
    +socialLink(
      'google-plus',
      t('%s on %s',['uniHackge', 'google+']),
      'https://plus.google.com/107084110225494322165')
    +socialLink(
      'youtube-play',
      t('%s on %s',['uniHackge', 'youtube']),
      'https://www.youtube.com/uniHackge')
    +socialLink(
      'envelope',
      t('contact us'),
      'mailto:team@unihack.ge?Subject=wow%20much%20love')
  header
    time.date(datetime="2014-12-19/2014-12-21")
      span.month=t('dec')
      span.days 19-20-21
    h1.title
      span.hack hack
      span.tbilisi tbilisi
    h2.subtitle Uniting Hackers from Europe and Asia

  #cuboid
    form(action='/register', method='post', target='_blank', novalidate='')
      // #1 hover button
      div
        p.cuboid-text=t('Register')
      // #2 text input
      div
        // Label to trigger #submit
        label.submit-icon(for='submit')
          i.fa.fa-chevron-right
        input#email.cuboid-text(type='email', spellcheck="false", value='', name='EMAIL', placeholder=t('Your Email'), autocomplete='off', required='')
        // hidden submit button
        input#submit(type='submit', value='Subscribe', name='subscribe')
      // #3 loading message
      div
        p.cuboid-text.loader=t('Just a moment')
      // #4 success message
      div
        // reset/retry button
        span.reset-icon
          i.fa.fa-refresh
        p.cuboid-text=t('We\'ll be in touch!')
