mixin mainNavigationLink(url,target,title)
  li(class='for-' + target)
    a(href=url)
      span.title=title

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(property='og:title', content=t('META_TITLE'))
    meta(property='og:type', content='website')
    meta(property='og:image', content= t('META_SITE_URL') + '/images/logo.png')
    meta(property='og:url', content= t('META_SITE_URL'))
    meta(property='og:description', content=t('META_DESCRIPTION'))
    meta(name='description', content=t('META_DESCRIPTION'))
    meta(property='og:site_name', content=t('META_SITE_NAME'))
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/style.css')
    link(rel='shortcut icon' href='/images/favicon.ico')
    title=t('META_TITLE')
  body.home-visable
    div#main-background
    nav#main-nav
      a.logo(href='#home')
        span.hack hack
        span.tbilisi tbilisi
      ul
        +mainNavigationLink('#faq', 'faq', t('კითხვები'))
        +mainNavigationLink('#speakers', 'speakers', t('სპიკერები'))
        +mainNavigationLink('#sponsors', 'sponsors', t('სპონსორები'))
        +mainNavigationLink('/agenda#' + t('languagePrefix'), 'agenda', t('აჯენდა'))
        +mainNavigationLink(t('nextLanguage').url, 'nextLanguage', t('nextLanguage').title)
    div#main-wrapper
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='/app.js')
